<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css Table/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css Table/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css Table/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css Table/css/style.css">

    <title>Table #6</title>
  </head>
  <body>
  


  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Clientes</h2>
      <div>
        <a class="pure-button fuller-button blue"href="/clientes/nuevoCliente">Nuevo</a>
        <a class="pure-button fuller-button red" href="/Clientes/nuevoCliente">Regresar</a>
      </div>

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              
              <th scope="col">ID</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">APELLIDOS</th>
              <th scope="col">DIRECCION</th>
              <th scope="col">POBLACION</th>
              <th scope="col">ESTADO</th>
              <th scope="col">NUMERO_TEL</th>
              <th scope="col">UBICACION</th>
              <th scope="col">Status</th>
              
            
            </tr>
          </thead>
          <tbody>
            <%
            clientes.forEach((cliente)=>{
        %>
            <tr scope="row">


                <td><%= cliente.id_cli%></td>
                <td><%= cliente.nombre%></td>
                <td><%= cliente.apellidos%></td>
                <td><%= cliente.direccion%></td>
                <td><%= cliente.poblacion%></td>
                <td><%= cliente.estado%></td>
                <td><%= cliente.numero_tel%></td>
                <td>  <rd> <a href="<%= cliente.ubicacion%>"> Ubicacion </a></td> </td>
                <td><%= cliente.status%></td>
            
                
                <td><h3>
                   


                
                   <rd> <a href="/clientes/seleccionarId/<%= cliente.id_cli%>">📝 Editar </a></td>
                   <td> <a href="/clientes/borradoLogico/<%= cliente.id_cli%>">🗑 Borrado logico</a></td>
                   <td> <a href="/clientes/borradoFisico/<%= cliente.id_cli%>">🗑 Borrado Fisico</a>  </td>     
                                                                                                                            
                </h3></td>
            </tr>
            <%
        });
    %>
    
          </tbody>
        </table>
      </div>
    </div>

  </div>
    
    

    <script src="/css Table/js/jquery-3.3.1.min.js"></script>
    <script src="/css Table/js/popper.min.js"></script>
    <script src="/css Table/js/bootstrap.min.js"></script>
    <script src="/css Table/js/main.js"></script>
  </body>
</html>




  